<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
             version="3.0">
  <persistence-unit name="default">

    <class>sch.cqre.api.domain.BookEntity</class>
    <class>sch.cqre.api.domain.CommentEntity</class>
    <class>sch.cqre.api.domain.FileEntity</class>
      <class>sch.cqre.api.domain.HashTagEntity</class>
      <class>sch.cqre.api.domain.NotificationEntity</class>
      <class>sch.cqre.api.domain.PostEntity</class>
      <class>sch.cqre.api.domain.PostHashTagEntity</class>
      <class>sch.cqre.api.domain.ReactionEntity</class>
    <class>sch.cqre.api.domain.ReactionEntity</class>
    <class>sch.cqre.api.domain.PostHashTagEntity</class>
      <class>sch.cqre.api.domain.ProjectEntity</class>
      <class>sch.cqre.api.domain.ProjectLinkEntity</class>
      <class>sch.cqre.api.domain.ProjectMemberEntity</class>
    <class>sch.cqre.api.domain.RentalEntity</class>
      <class>sch.cqre.api.domain.ScrapEntity</class>
      <class>sch.cqre.api.domain.SupplyEntity</class>
      <class>sch.cqre.api.domain.UserEntity</class>
    <properties>
      <property name="hibernate.connection.url"
                value="jdbc:mysql://test-database.cwybj99o2hv9.ap-northeast-2.rds.amazonaws.com:3306"/>
      <property name="hibernate.connection.driver_class" value="com.mysql.cj.jdbc.Driver"/>
    </properties>

  </persistence-unit>
    <persistence-unit name="persistenceUnit"/>
</persistence>
